@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    width: fit-content;
    height: 100vh;
    background-color: #1e1e1e;
    color: #a1806b;
}
